{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static './css/style.css' %}" />
  </head>
  <body>
    <header>
      <h1>Контактная информация</h1>
      <nav>
        <ul>
          <li><a href="{% url 'main_page' %}">Главная</a></li>
          <li><a href="{% url 'post_list_page' %}">Вакансии</a></li>
          <li><a href="{% url 'contact_page' %}">Контакты</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <p>Наши контакты: example@example.com</p>
      <form>
        <input type="text" placeholder="Ваше имя" />
        <input type="email" placeholder="Ваш email" />
        <textarea placeholder="Ваше сообщение"></textarea>
        <button type="submit">Отправить</button>
      </form>
    </main>
  </body>
</html>
