{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post_list</title>
    <link rel="stylesheet" href="{% static './css/style.css' %}" />
  </head>
  <body>
    <header>
      <h1>Список вакансий</h1>
      <nav>
        <ul>
          <li><a href="home.html">Главная</a></li>
          <li><a href="post_list.html">Вакансии</a></li>
          <li><a href="contact.html">Контакты</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <input type="text" placeholder="Поиск вакансий..." />
      <ul>
        <li>Вакансия 1 - Описание</li>
        <li>Вакансия 2 - Описание</li>
      </ul>
    </main>
  </body>
</html>
